<div class="container-fluid footer">
    <div class="row mb-3 pt-5">
        <div class="col-md-4 text-center d-flex flex-column">
            <a class="footer-link" href="">
                About Company
            </a>
            <a class="footer-link" href="">
                Contact Info
            </a>
        </div>
        <div class="col-md-4 text-center d-flex flex-column">
            <a class="footer-link" href="">
                Privacy & Policy
            </a>
            <a class="footer-link" href="">
                Cookie Privacy
            </a>
        </div>
        <div class="col-md-4 text-center d-flex flex-column">
            <a class="footer-link" href="">
                Sitemap
            </a>    
        </div>
    </div>

    <div class="row pt-2">
        <div class="container">

            <p class="text-center follow">Follow Us</p>
            <div class="container icon-group d-flex justify-content-center">
                <i class="social-icon fa-brands fa-twitter-square fa-2xl"></i>
                <i class="social-icon icon fa-brands fa-facebook-square fa-2xl"></i>
                <i class="social-icon fa-brands fa-linkedin fa-2xl"></i>
                <i class="social-icon fa-brands fa-instagram fa-2xl"></i>
            </div>
            <p class="text-center mt-3 copyright">
                © CopyRights ABC Jobs Pte Ltd 
            </p>
            
        </div>

    </div>
</div>