@use '../../styles.scss' as m;

.footer{
    background-color: rgb(81, 112, 233);
}

.social-icon{
    color: white;
    margin: 0 1%;
}

.social-icon:hover{

    color: m.$second-color;

}

.follow{
    color: rgb(223, 222, 222);
}

.copyright{
    color: rgb(223, 222, 222);
}

.footer-link{
    color: aliceblue;
    text-decoration: none;
    margin: 1.5% 0;
    font-size: 1.1em;
}

.icon-group{
    margin: 3% auto;
}