<app-formnav></app-formnav>
<div class="container mt-5 pb-5 mb-5">
    <h2 class="text-center pt-5 title">
        Reset Your Password
    </h2>
    <p class="text-center">
        Please enter at least 8 characters for security purpose
    </p>
    <form class="pt-5" (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="container">
            <div class="form-floating normal mb-3">
                <input type="password" class="form-control" id="floatingInput" name="password" placeholder="password"
                    formControlName="password">
                <label for="floatingInput">New Password</label>
            </div>
            <div class="normal" *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors?.['required']" class="alert alert-danger">
                    Please Enter Your New Password
                </div>
                <div *ngIf="password.errors?.['minlength']" class="alert alert-danger">
                    Please Enter At least 8 Characters
                </div>
            </div>

            <div class="form-floating normal mb-3">
                <input type="password" class="form-control" id="floatingInput" name="confirmPwd" placeholder="password"
                formControlName="confirmPwd">
                <label for="floatingInput">Confirm Password</label>
            </div>
            <div class="normal" *ngIf="confirmPwd.dirty || confirmPwd.touched">
                <div *ngIf="confirmPwd.value != password.value" class="alert alert-danger">
                    Password Does Not Match
                </div>
            </div>

            <div class="d-grid btn-div">
                <button type="submit" class="btn btn-primary btn-lg" [disabled]="form.invalid || password.value != confirmPwd.value">
                    Next
                </button>
            </div>
        </div>
    </form>
</div>

