<app-formnav></app-formnav>
<div class="container mt-5 pb-5 mb-5">
    <div class="icon">
        <i class="fa-solid fa-circle-check text-center pt-5"></i>
    </div>
    <h2 class="text-center pt-1 title">
        Reset Password Successful 🎉
    </h2>
    <p class="text-center">
        Thank you for your patience, please continue to log in with new Password
    </p>
    <div class="d-grid btn-div">
        <button type="button" class="btn btn-primary btn-lg" routerLink="/login">
            Next
        </button>
    </div>
</div>


