/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$title-font : 'Playfair Display', serif;
$common-color : #0d6efd;
$second-color : #ffc400;
$normal : 30%;
$button : 30%;
$row : 29%;